{% extends "main.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/today.js') }}?v=2"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/search_date.css') }}?v=2">
{% endblock %}


{% block contents %}

<nav class="in_btn">
  <ul class="nav_big">
    <li>
      <a href="#" class="big_btn" onclick="openInPopup(); return false;">입고</a>
    </li>
    <li>
      <a href="{{ url_for('in_list', all=1) }}" class="big_btn">전체조회</a>
    </li>
  </ul>
</nav>

<div class="search_bar">
  <div class="search_row">
    <form method="GET" action="{{ url_for('in_list') }}" class="search_form">
      <label class="search_label">날짜</label>
      <input type="date" id="search_date" name="search_date" value="{{ search_date or '' }}">
      <button type="submit" class="btn_search" name="mode" id="btn_query" value="date">조회</button>
      <select id="search_type" name="search_type">
        <option value="all" {{ 'selected' if search_type=='all' else '' }}>모두검색</option>
        <option value="lot_no" {{ 'selected' if search_type=='lot_no' else '' }}>LOT번호</option>
        <option value="vessel_name" {{ 'selected' if search_type=='vessel_name' else '' }}>모선명</option>
        <option value="cargo_no" {{ 'selected' if search_type=='cargo_no' else '' }}>화물관리번호</option>
        <option value="owner_name" {{ 'selected' if search_type=='owner_name' else '' }}>화주명</option>
      </select>
      <input type="text" id="search_keyword" name="keyword" value="{{ keyword or '' }}" placeholder="검색어 입력">
      <button type="submit" class="btn_ghost" name="mode" value="search">검색</button>

    </form>

    <ul class="sum_box">
      <li><span class="sum_label" style="color: blue;">수량합계</span><span class="sum_val" style="color: blue;">{{
          "{:,.1f}".format(total_bundle or 0) }}</span></li>
      <li><span class="sum_label" style="color: blue;">중량합계</span><span class="sum_val" style="color: blue;">{{
          "{:,.3f}".format(total_weight or 0) }}</span></li>
    </ul>
  </div>
</div>

<table border="1">
  <thead>
    <tr>
      <th onclick="sortTable(this, 0)">순번</th>
      <th onclick="sortTable(this, 1)">LOT</th>
      <th onclick="sortTable(this, 2)">선명</th>
      <th onclick="sortTable(this, 3)">화물관리번호</th>
      <th onclick="sortTable(this, 4)">BL</th>
      <th onclick="sortTable(this, 5)">화종</th>
      <th onclick="sortTable(this, 6)">화주</th>
      <th onclick="sortTable(this, 7)">제강사</th>
      <th onclick="sortTable(this, 8)">강종</th>
      <th onclick="sortTable(this, 9)">규격</th>
      <th onclick="sortTable(this, 10)">수량</th>
      <th onclick="sortTable(this, 11)">중량</th>
      <th onclick="sortTable(this, 12)">단중</th>
      <th onclick="sortTable(this, 13)">저장일시</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr id="{{row.lot_no}}" dat_lot="{{row.lot_no}}">
      <td title="{{loop.index}}">{{loop.index}}</td>
      <td title="{{row.lot_no}}">{{ row.lot_no }}</td>
      <td title="{{row.vessel_name}}">{{ row.vessel_name }}</td>
      <td title="{{ row.cargo_no }}">{{ row.cargo_no }}</td>
      <td title="{{ row.bl_no }}">{{ row.bl_no }}</td>
      <td title="{{ row.cargo_type }}">{{ row.cargo_type }}</td>
      <td title="{{ row.owner_name }}">{{ row.owner_name }}</td>
      <td title="{{ row.maker }}">{{ row.maker }}</td>
      <td title="{{ row.steel_type }}">{{ row.steel_type }}</td>
      <td title="{{ row.size }}">{{ row.size }}</td>
      <td title="{{ row.bundle_qty }}">{{ row.bundle_qty }}</td>
      <td title="{{ row.mt_weight }}">{{ row.mt_weight }}</td>
      <td title="{{ row.unit_wt }}">{{ "%.3f"|format(row.unit_wt or 0) }}</td>
      <td title="{{ row.date_at }}">{{ row.date_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div id="lotModal" class="modal_bg">
  <div class="modal_box">
    <div class="btns button">
      <form name="in_list" method="POST" action="{{url_for('in_form')}}">
        <table class="input_tb">
          <tr>
            <td>LOT-NO</td>
            <td><input type="text" name="f_lot_no" id="f_lot_no" readonly></td>
          </tr>
          <tr>
            <td>선명</td>
            <td><input type="text" name="f_vessel_name" id="f_vessel_name"></td>
          </tr>
          <tr>
            <td>화주명</td>
            <td><input type="text" name="f_owner_name" id="f_owner_name"></td>
          </tr>
          <tr>
            <td>화물관리번호</td>
            <td><input type="text" name="f_cargo_no" id="f_cargo_no"></td>
          </tr>
          <tr>
            <td>B/L NO.</td>
            <td><input type="text" name="f_bl_no" id="f_bl_no"></td>
          </tr>
          <tr>
            <td>화종</td>
            <td><input type="text" name="f_cargo_type" id="f_cargo_type"></td>
          </tr>
          <tr>
            <td>제강사</td>
            <td><input type="text" name="f_maker" id="f_maker"></td>
          </tr>
          <tr>
            <td>강종</td>
            <td><input type="text" name="f_steel_type" id="f_steel_type"></td>
          </tr>
          <tr>
            <td>싸이즈</td>
            <td><input type="text" name="f_size" id="f_size"></td>
          </tr>
          <tr>
            <td>B/D</td>
            <td><input type="number" name="f_bundle_qty" id="f_bundle_qty"></td>
          </tr>
          <tr>
            <td>M/T</td>
            <td><input type="number" step="0.001" name="f_mt_weight" id="f_mt_weight"></td>
          </tr>
        </table>

        <button type="button" class="btnEdit" id="btnUpdate">수정</button>
        <button type="button" class="btnDelete" id="btnDelete">삭제</button>
        <button type="button" class="btnCancel" id="btnCancel">취소</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}