<!DOCTYPE html>
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- ✅ jQuery 먼저 -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- ✅ 기존 script.js (필요하면 유지) -->
    <script src="{{ url_for('static', filename='js/script.js') }}?v=20260108_1"></script>
</head>
<body>
  {% block contents %}{% endblock %}
</body>
</html>
